# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.ModernConcurrency.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\HomeLocalUser\RiderProjects\ModernConcurrency\.idea\.idea.ModernConcurrency\.idea/dataSources/
/dataSources.local.xml
